@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #E9EFC0;
    font-family: 'Dekko', cursive;
}

.button {
    width: 100vw;
    height: 3rem;
    padding-left: 3rem;
}

input {
    border: 2px solid pink;
    outline: none;
    width: 90%;
    height: 3.5rem;
}

.plus {
    background-color: rgb(223, 141, 155);
    border: none;
    outline: none;
    height: 3.5rem;
    width: 10%;
}

.plus:hover,
.delete:hover {
    opacity: .8;
}

li {
    list-style-type: none;
}


::placeholder {
    color: red;
    opacity: .3;
  }

.todo {
    margin-bottom: 5rem;
}

#todo-section {
    width: 100vw;
    margin-right: 2.5rem;
}

.task {
    background-color: #c5e1e6;
    height: 9vh;
    width: 100%;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    overflow: auto;
    margin-left: .3rem;
}


.delete {
    background-color: #0a2ea4;
    color: #ffffff;
    height: 80%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    flex-shrink: 0;
}
.check {
    background-color: white;
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    flex-shrink: 0;
}
