@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;800&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: lightblue;
}

.button {
    width: 75%;
    height: 3rem;
    display: inline;
}

input {
    border: 1px solid pink;
    outline: none;
    width: 85%;
    height: 3.5rem;
}

.plus {
    background-color: rgb(223, 141, 155);
    border: none;
    height: 3.5rem;
    width: 15%;
}

.plus:hover,
.minus:hover {
    opacity: .8;
}

li {
    list-style-type: none;
}

.close:hover {
    background-color: #f44336;
    color: white;
  }


::placeholder {
    color: red;
    opacity: .3;
  }

.todo {
    margin-bottom: 7rem;
}

.container {
    border-bottom: 5px dotted pink;
}

.task {
    background-color: #c5e1e6;
    height: 9vh;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    overflow: auto;
    text-align: center;
}

.delete {
    background-color: #0a2ea4;
    color: #ffffff;
    height: 80%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    flex-shrink: 0;
}
.check {
    background-color: white;
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    flex-shrink: 0;
}
